.google-pdf{
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}
.google-pdf iframe{
	position: absolute;
	top:0;
	left:0;
	width: 100% !important;
	height: 100% !important;
	
}

.row {
  overflow: hidden; 
}
/* Columnas tamaños iguales - Parte II	*/
[class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.dropdown{
	display: inline-block;   
}

body{
	margin: 0;
	padding: 0;
	min-height: 100%;
    overflow-x: hidden;
}